.contact-header {
    background: linear-gradient(to right, #76d2f8, #f3d4af);
    padding: 40px 20px;
    color: white;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
}


.contact-header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-header p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}